
### VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
**/.vscode

# Lightning-Hydra-Template
data/
logs/
wandb/
.autoenv
pc_environment.env
outputlog*
errorlog*

# Python
__pycache__/
*.pyc
*.pyo
*.nbc
*.nbi

# Slurm logs
slurm/logs/

# OS
.DS_Store
Thumbs.db

slurm/logs/